/* universal */

* {
    text-align: center;
    margin: 10px;
}


/* フォーム */

.hitokoto_form {
    border-radius: 5px;
    border-color: darkgrey;
    height: 80px;
    width: 150px;
}


/* ボタン */

.square_btn {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: rgb(233, 120, 75);
    /*ボタン色*/
    color: #fff;
    border-bottom: solid 3px #798892;
    border-radius: 3px;
}

.square_btn:active {
    /*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    /*下に動く*/
    border-bottom: none;
    /*線を消す*/
}